# approval_prompt = "force"
provider = "keycloak-oidc"
provider_display_name="Key Lesgrandsvoisins com"
reverse_proxy = true
client_id = "seafile"
client_secret = "jzKRT4LodyxAWP4TZLJ5wxjWMAizyLoM"
# code_challenge_method = "plain"
code_challenge_method = "S256"
cookie_expire = "168h0m0s"
cookie_refresh = "2m0s"
cookie_httponly = true
cookie_secure = true
cookie_name = "_oauth2_proxy"
cookie_secret = "isrF3nucLLENjGOxJiF1vX4WhwteLU0GBYAj_QFHijw="
cookie_domains = ["roses.gdvoisins.com", "op.roses.gdvoisins.com", "key.lesgrandsvoisins.com", "op.roses.gdvoisins.com:41443"]
whitelist_domains = ["roses.gdvoisins.com", "op.roses.gdvoisins.com", "key.lesgrandsvoisins.com", "op.roses.gdvoisins.com:41443"]
cookie_csrf_per_request = true
cookie_csrf_expire = "5m"
cookie_samesite = "none"
encode_state = true
email_domains = ["*"]
scope = "openid email profile"
set_xauthrequest = true
# http_address = "op.roses.gdvoisins.com:1234"
https_address = "192.168.1.100:41443"
login_url = "https://key.lesgrandsvoisins.com/realms/master/protocol/openid_connect/auth"
oidc_issuer_url = "https://key.lesgrandsvoisins.com/realms/master"
# oidc_jwks_url = "https://key.lesgrandsvoisins.com/realms/master/protocol/openid-connect/certs"
# profile_url = "https://key.lesgrandsvoisins.com/realms/master/protocol/openid-connect/userinfo"
# redeem_url = "https://key.lesgrandsvoisins.com/realms/master/protocol/openid-connect/token"
# validate_url = "https://key.lesgrandsvoisins.com/realms/master/protocol/openid-connect/token/introspect"
# backend_logout_url = "https://key.lesgrandsvoisins.com/realms/master/protocol/openid-connect/token"
# jwt_key_file = "/etc/oauth2-proxy/private.pem"
# auth-request-response-mode = "post"
# auth_request_response_mode = "query"
insecure_oidc_allow_unverified_email = true
# Going upstream
pass_access_token = true
pass_basic_auth = true
pass_host_header = true
# proxy_prefix = "/"
redirect_url = "https://op.roses.gdvoisins.com:41443/oauth2/callback"
request_logging = true
# set_xauthrequest = false
tls_cert_file = "/var/lib/acme.bak/op.roses.gdvoisins.com/fullchain.pem"
tls_key_file = "/var/lib/acme.bak/op.roses.gdvoisins.com/key.pem"
upstreams =  [ "file:///var/www/default" ]
# client_secret_file = "/etc/.secrets/.seafile_oauthproxy_keyfile"
# force_json_errors = true
show_debug_on_error = true

